@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 80vw;
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar
{
    display: flex;
    height: 67px;

}
.navbar li{
    list-style: none;
    margin: 0 12px;
}
.topLeft{
    width: 50%;
    padding-top: 30px;

}
.topRight{
    width: 50%;

}
.section1{
    height: 50vh;
}
.btn{
    padding: 4px 12px;
    border: 2px solid white;
    border-radius: 11px;
    color: white;
    background-color: crimson;
    cursor: pointer;

}
.img{
    max-width: 100%;
    height: auto;
}
.img-size{
    width: 150px;
}
